:root {
  --var-color-1: #03178c;
  --var-color-2: #034aa6;
  --var-color-3: #035aa6;
  --var-color-4: #89b3d9;
  --var-color-5: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  font-size: 4vw;
}

a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}
.inactive {
  display: none;
}

/* Header */

.get-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--var-color-5);
}
.get-info img {
  margin-top: 16px;
  border-radius: 50%;
  border: 1px solid black;
  object-fit: cover;
}
.get-info h1 {
  color: var(--var-color-1);
  margin: 10px 0;
}
.get-info p {
  color: var(--var-color-1);
  margin: 0 0 10px 0;
}

/* Navegación */
.active {
}
.nav-container {
  background-color: var(--var-color-5);
}
.nav-container ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list-item {
  border: 1px solid var(--var-color-1);
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  padding: 6px;
  background-color: var(--var-color-5);
  margin-bottom: -1px;
}

.nav-list-item:first-child {
  background-color: var(--var-color-4);
}

.nav-list-item:first-child a {
  color: var(--var-color-5);
}

.nav-list-item:hover {
  background-color: var(--var-color-4);
}

.nav-list-item a:hover {
  color: var(--var-color-5);
}

/* Secciones */
.sectionsContainer {
  background-color: var(--var-color-4);
  border-top: 1px solid var(--var-color-1);
  height: 432px;
}

.container {
  width: 100%;
  margin: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.paragraph {
  margin: 8px 0;
}

.habilites,
.others {
  width: 100%;
  border-top: 1px solid var(--var-color-2);
  padding: 8px 0 8px 0;
}

/* Sección contacto */
i {
  font-size: 36px;
}

.contactContainer {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.gitHub,
.wsp,
.linkedin,
.email {
  display: flex;
  align-items: center;
}

.gitHub span a,
.wsp span a,
.linkedin span a,
.email span a {
  margin-left: 24px;
  color: var(--var-color-5);
}
