body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: #ffffff;
}
i {
  font-size: 32px;
}
li {
  list-style: none;
  text-decoration: none;
}

h3,
ul {
  margin: 0;
  padding: 0;
}

.inactive {
  display: none !important;
}

/* Header */

header {
  background-color: #0d1321;
}

.get-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-info .user-img {
  border-radius: 50%;
  border: 2px solid #ffffff;
  object-fit: cover;
  margin-top: 16px;
}

.get-info h1 {
  margin: 16px 0 0 0;
  color: #ffffff;
}

.get-info p {
  color: #ffffff;
}

/* Header nav */
.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
}

.nav-list button {
  padding: 6px;
  border: none;
  font-size: 4vw;
  border-radius: 6px 6px 0 0;
  background-color: #ffffff;
}

/* About me section */

.container {
  background-color: #ffffff;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutMe,
.experience,
.education,
.contact {
  height: 100%;
  width: 80%;
}

.aboutMe {
  /* border-top: 1px solid black; */
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.description {
  width: inherit;
}
.description h3 {
  margin-top: 16px;
}
.qualities {
  display: inherit;
  flex-direction: column;
  align-items: start;
  width: inherit;
  margin-bottom: 16px;
}

.skills {
  margin-bottom: 12px;
}

:is(.skills, .tecno) ul {
  margin-top: 10px;
}

/* Experience section */
.experience,
.education {
  background-color: inherit;
  padding-top: 16px;
}

:is(.experience, .education) p {
  margin: 4px 0 8px 0;
}

.education {
  background-color: inherit;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  background-color: inherit;
}

.contact a {
  color: #000000;
}

.wsp,
.linked,
.email,
.gitHub {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.contact span {
  margin-left: 16px;
}

@media screen and (max-width: 1024px) {
  :is(.aboutMe, .experience, .education, .contact) .title {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    display: none;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 4px;
  }

  .column-left {
    grid-area: 1 / 1 / 2 / 2;
    border: 1px solid #0d1321;
    border-radius: 4px;
  }

  .column-right {
    grid-area: 1 / 2 / 2 / 3;
  }

  .experience,
  .education {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    border-bottom: 1px solid #0d1321;
  }
}
